<!DOCTYPE html>
<html lang="en">
<head>	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Carlos Agarie">
	
	<title>{{ page.title }}</title>
	
	<!-- Google Web Fonts, yay! -->
	{% include web-fonts.html %}
	
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8">
	
	<link rel="alternate" type="application/rss+xml" title="RSS feed for zhuf.github.io" href="/rss.xml" />	
</head>
<body>

	<header>
		<a href='/'>
			<h1 class="blog-title">zhuf<br><small>虽不能至, 然心向往之...</small></h1>
		</a>
	</header>