/*
	Site name: jfmgonzales.com
	Author: Joshua Gonzales
*/

@import "mixins";

.stickybox {
	display: none !important;
}
footer.links {
	display: none !important;
}
.comments {
	display: none !important;
}
.btn {
	display: none !important;
}
a {
	color: $font-color !important;
	&:hover, &:active {
		color: $font-color !important;
	}
}