/*
	Site name: jfmgonzales.com
	Author: Joshua Gonzales
*/

// SETUP
@import "compass/reset";
@import "normalize";
@import "mixins";

// WEB FONTS
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing:    border-box; 
	box-sizing:         border-box; 
}

// CLEARFIX http://nicolasgallagher.com/micro-clearfix-hack/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

// MOBILE SCREENS AND HIGHER
body {
	background-color: $background-color;
	padding: 10px;
	color: $font-color;
	font-family: $sans;
	font-size: 14px;
	line-height: 1.0;
}
h1 {
	font-size: 2.0em;
}
a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.muted {
	color: $muted-color;
}
.container {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}
.page {
	width: 100%;
	padding: 20px 0;
	margin-bottom: 30px;
	background-color: $content-background-color;
	box-shadow: $page-shadow;
}
.comments {
	margin-top: 3em;
	padding: 0 20px;
}
article {
	header {
		margin-bottom: 2.0em;
		text-align: center;
		h1 {
			a {
				color: $font-color;
				text-decoration: none;
			}
		}
	}
	footer.date {
		margin-bottom: 2.0em;
		text-align: center;
		small {
			font-size: 0.9em;
		}
	}
	footer.links {
		margin-top: 2.0em;
		padding: 0 20px;
	}
	p {
		font-size: 1.0em;
		text-align: justify;
		line-height: 2.0;
		padding: 0 20px;
	}
	p + p {
		margin-top: 1em;
	}
	img {
		width: 100%;
		box-shadow: $basic-shadow;
	}
	p + img {
		margin-top: 1em;
	}
	img + p {
		margin-top: 1em;
	}
	ul {
		padding: 0 20px;
	}
}
.btn {
	display: inline-block;
	padding: 5px 15px;
	text-align: center;
	margin-top: 2em;
	border-width: 2px;
	border-style: solid;
	border-color: $link-color;
	@include rounded_box(40px);
	&:hover {
		text-decoration: none;
		background-color: lighten($link-color,48%);
	}
}
.archive {
	ul {
		line-height: 1.5;
	}
	.date {
		width: 100px;
	}
}

// HIGHER DISPLAYS ONLY
@media (min-width: 768px) {
	body {
		font-size: 16px;
	}
	.page {
		padding: 80px 0;
	}
	article {
		.comments {
			padding: 0 80px;
		}
		p {
			padding: 0 80px;
		}
		footer.links {
			padding: 0 80px;
		}
		ul {
			padding: 0 80px;
		}
	}
	.stickybox {
		float: right;
		width: 130px;
		position: fixed;
		right: 10px;
		padding: 10px 0;
		top: 10px;
		background-color: darken($background-color,3%);
		box-shadow: $basic-shadow;
		ul {
			text-align: left;
			a {
				display: block;
				padding-left: 10px;
				height: 2.0em;
				line-height: 2.0em;
				text-decoration: none;
				color: lighten($background-color,16%);
				&:hover {
					background-color: $background-color;
				}
			}
		}
	}
}

// Twitter Bootstrap
// Responsive: Utility classes
// --------------------------------------------------


// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.hidden {
  display: none;
  visibility: hidden;
}

// Visibility utilities

// For desktops
.visible-phone     { display: none !important; }
.visible-tablet    { display: none !important; }
.hidden-phone      { }
.hidden-tablet     { }
.hidden-desktop    { display: none !important; }
.visible-desktop   { display: inherit !important; }

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
  // Hide everything else
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important ; }
  // Show
  .visible-tablet    { display: inherit !important; }
  // Hide
  .hidden-tablet     { display: none !important; }
}

// Phones only
@media (max-width: 767px) {
  // Hide everything else
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important; }
  // Show
  .visible-phone     { display: inherit !important; } // Use inherit to restore previous behavior
  // Hide
  .hidden-phone      { display: none !important; }
}